*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
        height: 80px;
        width: 100vw;
        background: rgb(0, 0, 0);
        padding:0px 40px ;

}
.brand{
        height: 80%;      
}
.brand img{
        height: 100%;
}
.brand h2{
        font-size: 40px;
        
        font-weight: 400;
}
.dflex{
        display: flex;
        align-items:center;
}
.x-center{
        justify-content: center;
}
.x-evenly{
        justify-content: space-evenly;
}
.x-between{
        justify-content: space-between;
}
.text-white{
        color: whitesmoke;
}
.nav-items{
        list-style: none;
        column-gap: 50px;
        font-size: 25px;
}
.profile{
        height: 72%;
        border-radius: 50%;
        overflow: hidden;
}
.profile img{
        height: 100%;
}

